@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --accent: #00a8ff;
  --white: white;
  --black: black;
  --alpha-black: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  font-family: "Sora", sans-serif;
  color: var(--white);

  background-color: var(--black);
  margin: 0px;
  padding: 0px;
  background-image: url("res/background.png");
  background-attachment: fixed;
}

.rain {
  position: fixed;
  top: -10%;
  left: 50%;
  width: 0.2rem;
  height: 1rem;
  background-color: var(--accent);
  animation-name: rain-animation;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  z-index: -1;
  order: 1000;
}

@keyframes rain-animation {
  from {
    top: -10%;
  }
  to {
    top: 110%;
  }
}

/* ======================= FLEX ======================= */

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  text-align: center;
}

.flex.even {
  justify-content: space-evenly;
}

/* ======================= PAGES ======================= */

.page {
  position: relative;
  background-color: var(--alpha-black);
  border: 1px solid var(--accent);
  margin: 1rem;
  width: 20rem;
  height: 40rem;
  overflow: hidden;
}

h1 {
  font-size: 5.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--accent);
}

h3 {
  font-size: 0.8rem;
  font-weight: 300;
}

/* ======================= BUTTONS ======================= */

button {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 0.1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  font-family: "Sora", sans-serif;
}

button:active {
  background-color: transparent;
  border-color: var(--accent);
  color: var(--accent);
  transition-property: background-color;
  transition-duration: 0.1s;
}

button.white {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid var(--white);
  color: var(--white);
}

button.white:active {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--black);
  transition-property: background-color;
  transition-duration: 0.1s;
}

a {
  text-decoration: underline;
  color: var(--accent);
  font-weight: 700;
}

/* ======================= TITLEPAGE ======================= */

.titlepage {
  width: 20rem;
  margin: 0rem 1rem 1rem 1rem;
}

.titlepage > h1 {
  background-color: var(--accent);
  padding: 0.5rem 1rem;
  text-align: center;
  margin: 0px;
  width: 60%;
  transform: translate(0%, 50%);
  font-size: 1.3rem;
}

.titlepage > h1::before {
  content: "";
}

.titlepage > h1::after {
  content: "";
}

.titlepage > .container {
  text-align: left;
  border: 1px solid var(--accent);
  margin: 0px;
  padding: 2rem 1rem 1rem 1rem;
  font-size: 0.8rem;
  background-color: var(--alpha-black);
}

.container p {
  padding: 0.5rem 0rem 0rem 0rem;
}
.container video {
  width: 100%;
}

/* ======================= JUMPER ======================= */

#jumper {
  position: relative;
  width: 100%;
  height: 3rem;
}

#jumper .player {
  position: absolute;
  bottom: 0%;
  left: 30%;
  width: 0.5rem;
  height: 1rem;
  background-color: var(--white);

  animation-name: player-move;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes player-move {
  from,
  50% {
    bottom: 0%;
    transform: rotate(0deg);
  }

  45% {
    left: 30%;
    height: 1rem;
  }

  50% {
    height: 0.5rem;
  }

  60% {
    height: 1.2rem;
    bottom: 80%;
    left: 33%;
    transform: rotate(180deg);
  }

  80% {
    left: 35%;
    bottom: 0%;
    height: 0.8rem;
    transform: rotate(359deg);
  }

  90% {
    height: 1rem;
  }

  to {
    left: 30%;
    bottom: 0%;
    height: 1rem;
    transform: rotate(359deg);
  }
}

#jumper .hurdle {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 1rem;
  height: 0.5rem;
  background-color: var(--accent);

  animation-name: hurdle-move;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes hurdle-move {
  from {
    left: 97%;
  }
  to {
    left: 0%;
  }
}

/* ======================= PONG ======================= */

.pong-table {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pong-table > .paddle {
  height: 0.7rem;
  width: 5rem;
  background-color: var(--accent);
  position: absolute;
  left: 50%;
  top: 4%;
  transform: translate(-50%, -50%);
}

#paddle-one {
  border-bottom: 2px solid var(--white);
}

#paddle-two {
  top: 96%;
  border-top: 2px solid var(--white);
}

#ball {
  height: 2rem;
  width: 2rem;
  background-color: var(--accent);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
}

/* ======================= MOLECULE ======================= */

#molecule {
  position: absolute;
  width: 20rem;
  height: 10rem;
  z-index: -1;
}

#molecule > .particle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--accent);
}

#molecule .particle.w {
  background-color: var(--white);
}

/* ======================= BOID ======================= */

/* .boid {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 2rem;
  height: 2rem;

  background-color: red;
} */

/* ======================= FALLING BOX ======================= */

#falling-boxes {
  position: absolute;
  width: 20rem;
  height: 10rem;
  z-index: -1;
}

.falling-box {
  --to: 80%;
  position: absolute;
  top: 0%;
  width: 1.5rem;
  height: 1rem;
  background-color: var(--accent);
  /* border: 1px solid var(--accent); */
  opacity: 1;
  animation-name: fall;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes fall {
  from {
    top: 0%;
    transform: rotate(0deg);
  }
  to {
    top: var(--to);
    transform: rotate(359deg);
  }
}

/* ======================= CAROUSEL ======================= */

.carousel {
  position: relative;
  background-color: var(--alpha-black);
  border: 1px solid var(--accent);
  margin: 1rem;
  width: 20rem;
  height: 20rem;
}

.carousel h1 {
  font-size: 1.5rem;
}

.carousel p {
  font-size: 0.8rem;
  text-align: left;
  padding: 0.5rem;
}

.carousel div {
  display: none;
}

.carousel video {
  width: 100%;
}

/* ======================= FLEXORDER ======================= */

#page-title {
  order: 1;
}

#page-about {
  order: 2;
}

#page-start {
  order: 3;
}

#page-uni {
  order: 4;
}

#page-accord {
  order: 5;
}

#page-asteriods {
  order: 6;
}

#page-minesweeper {
  order: 7;
}

#page-pacman-cpp {
  order: 8;
}

#page-pacman-matlab {
  order: 9;
}

#page-watch-history {
  order: 10;
}

#page-scorecard {
  order: 11;
}
