@import url(https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap);

:root {
  --clr-accent: #00a8ff;
  --clr-light: white;
  --clr-dark: black;
  --clr-alpha-dark: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: Sora, sans-serif;
  color: var(--clr-light);
  background-color: var(--black);
  margin: 0;
  padding: 0;
  background-image: url("res/background.png");
  background-attachment: fixed;
}

/* Container */

.containers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  background-color: var(--clr-alpha-dark);
  width: 20rem;
  border: 1px solid var(--clr-accent);
  margin: 2rem 1rem 1rem 1rem;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  position: absolute;
  top: 0;
  background-color: var(--clr-accent);
  padding: 0.5rem 1.5rem;
  text-align: center;
  min-width: 50%;
  max-width: 90%;
  transform: translate(0, -50%);
  font-size: 1.3rem;
}

.container div {
  font-size: 0.8rem;
}

.container div * + p {
  margin-top: 0.8rem;
}

.container div a {
  text-decoration: underline;
  color: var(--clr-accent);
  font-weight: 700;
}

.container video {
  width: 100%;
}

/* Title Container */

#title-container {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 1rem;
  padding: 0px;
  text-align: center;
}

#title-container h1 {
  font-size: 5.5rem;
  font-weight: 700;
}

#title-container h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr-accent);
}

#title-container h3 {
  font-size: 0.8rem;
  font-weight: 300;
}

/* Start Container */

#start-container {
  padding-bottom: 0px;
}

/* Ping Pong */

#ping-pong {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#ping-pong > .paddle {
  position: absolute;
  height: 0.7rem;
  width: 5rem;
  background-color: var(--clr-accent);

  left: 50%;
  transform: translate(-50%, -50%);
}

#ping-pong > .paddle.p1 {
  top: 96%;
  border-top: 2px solid var(--clr-light);
  border-radius: 1rem 1rem 0.5rem 0.5rem;
}

#ping-pong > .paddle.p2 {
  top: 4%;
  border-bottom: 2px solid var(--clr-light);
  border-radius: 0.5rem 0.5rem 1rem 1rem;
}

#ping-pong > .ball {
  position: absolute;
  left: 50%;
  top: 50%;

  height: 2rem;
  width: 2rem;
  background-color: var(--clr-accent);

  border-radius: 1rem;
  transform: translate(-50%, -50%);
}

/* Hurdles */

#hurdles {
  position: relative;
  width: 100%;
  height: 3rem;
  margin-top: 0.8rem;
}

#hurdles .player {
  position: absolute;
  bottom: 0%;
  left: 30%;
  width: 0.5rem;
  height: 1rem;
  background-color: var(--clr-light);

  animation-name: player-animation;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes player-animation {
  from,
  50% {
    bottom: 0%;
    transform: rotate(0deg);
  }

  45% {
    left: 30%;
    height: 1rem;
  }

  50% {
    height: 0.5rem;
  }

  60% {
    height: 1.2rem;
    bottom: 80%;
    left: 33%;
    transform: rotate(180deg);
  }

  80% {
    left: 35%;
    bottom: 0%;
    height: 0.8rem;
    transform: rotate(359deg);
  }

  90% {
    height: 1rem;
  }

  to {
    left: 30%;
    bottom: 0%;
    height: 1rem;
    transform: rotate(359deg);
  }
}

#hurdles .hurdle {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 1rem;
  height: 0.5rem;
  background-color: var(--clr-accent);

  animation-name: hurdle-animation;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes hurdle-animation {
  from {
    left: 97%;
  }
  to {
    left: 0%;
  }
}

/* Falling Boxes */

#falling-boxes {
  position: absolute;
  bottom: 0%;
  width: 20rem;
  height: 9rem;
  z-index: -1;
}

.falling-box {
  --to: 80%;
  position: absolute;
  top: 0%;
  width: 1.5rem;
  height: 1rem;
  background-color: var(--clr-accent);

  animation-name: falling-box-animation;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 1;
}

@keyframes falling-box-animation {
  from {
    top: 0%;
    transform: rotate(0deg);
  }
  to {
    top: var(--to);
    transform: rotate(359deg);
  }
}

#particles {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#particles > .particle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--clr-accent);
}

#particles .particle.w {
  background-color: var(--clr-light);
}

/* Rain */

.rain {
  position: fixed;
  top: -10%;
  left: 50%;
  width: 0.2rem;
  height: 1rem;
  background-color: var(--clr-accent);
  animation-name: rain-animation;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  z-index: -1;
  order: 1000;
}

@keyframes rain-animation {
  from {
    top: -10%;
  }
  to {
    top: 110%;
  }
}
